<header>
	<div class = "wrapper">
		<img src = "/img/longhorn-logo.png">
		<div id = "title">
			<h1>Texas Sports Wire</h1>
			<h2>The Pulse of the Longhorns</h2>
		</div>
		<img src = "/img/longhorn-logo.png">
	</div>
</header>

<div id = "menu">
	<ul id = "saved">
		<a href = "/saved"><li>Saved Articles</li></a>
	</ul>
	<ul id = "scrape-options">
		<li>Burnt Orange Nation</li>
		<li>Hook 'Em</li>
		<li>Texas Diehards</li>
	</ul>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h5>You scraped <span id="articles-added"></span> articles!</h5>
        <p>The Eyes of Texas are Upon You!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class = "parallax">
</div>

<footer>
	<h1 class = "">Click on Your Favorite Source for Texas Sports News</h1>
</footer>

<script src="js/app.js"></script>