<header>
	<div class = "wrapper">
		<img src = "/img/longhorn-logo.png">
		<div id = "title">
			<h1>Texas Sports Wire</h1>
			<h2>The Pulse of the Longhorns</h2>
		</div>
		<img src = "/img/longhorn-logo.png">
	</div>
</header>

<div id = "menu">
	<ul id = "saved">
		<li>Saved Articles</li>
	</ul>
	<ul id = "scrape-options">
		<li>Burnt Orange Nation</li>
		<li>Hook 'Em</li>
		<li>Texas Diehards</li>
	</ul>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h5>You scraped <span id="articles-added"></span> articles!</h5>
        <p>The Eyes of Texas are Upon You!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class = "parallax">
</div>

<footer>
	<h1 class = "">Click on Your Favorite Source for Texas Sports News</h1>
	{{!-- {{<div class = "news-article">
		<div class = "news-article-img" style = "background-image: url('https://cdn.vox-cdn.com/uploads/chorus_image/image/59108277/usa_today_9654745.0.jpg')">
		</div>
		<div class = "news-article-info">
			<h3><a href = "https://www.burntorangenation.com/2018/3/21/17146018/texas-lightning-package-chris-brown-bj-foster-demarvion-overshown" target = "_blank">Tom Herman explains the origins of the lightning package</a></h3>
			<p class = "author">By: Wescott Eberts</p>
			<p class = "summary">Using six defensive backs wasn’t something that Todd Orlando considered until after the start of Big 12 play in 2017.</p>
			<button class = "not-saved">Save</button> 
		</div>
	</div>}} --}}
</footer>

<script src="js/app.js"></script>